.heading{
    border-bottom:1px solid black;
    margin-top: 0;
}
.heading h1{
    text-align: right;
    margin-right: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.body tr{
    font-size: 20px;
}
table{
    margin-top: 10px;
}